@import "tailwindcss";

@utility container {
  margin-inline: auto;
  /* padding-inline: 2rem; */
}


@theme{
    --font-outfit: "Outfit", "sans-serif";
    --font-montserrat:"Montserrat"," sans-serif";
    /* color */

    --color-yellow : #FEAA00 ;
}

/* type writer ---HOME PAGE */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* Services-READ MORE */
.read-more{
    position: relative;
    transition: all .4s linear;
}
.read-more::after{
    content: '';
    width: 0;
    height: 2px;
    background: #28E98C;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .4s linear;

}
.read-more:hover::after{
    width: 100%;
}
.read-more:hover{
    color: #28E98C;
}